<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Add</title>
</head>

<body>
    <main class="vh-100 d-flex justify-content-center align-items-center">

        <form class="d-flex justify-content-center mb-3"
        th:action="@{/add}" method="post" th:object="${tbemployee}"  
        
        >
            <div> class="w-30"
                <div class="mb-3">
                    <label for="Email" class="form-label">email:</label>
                    <input th:field="*{email}" type="email" class="form-control" id="Email">
                </div>

                <div class="mb-3">
                    <label for="Idprof" class="form-label">idprof:</label>
                    <input th:field="*{profile}" type="number" class="form-control" id="profile">
                </div>

                <div class="mb-3">
                    <label for="Rol" class="form-label">rol:</label>
                    <input th:field="*{rol}" type="email" class="form-control" id="Rol">
                </div>
                <div class="mb-3">
                    <label for="Ident" class="form-label">ident:</label>
                    <input th:field="*{enterprise}" type="number" class="form-control" id="enterprise">
                </div>
                <button type="submit" class="w-40 btn btn-primary">Guardar</button>
            </div>
            
               

            
        </form>
    </main>

</body>

</html>