<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/template.css}" />
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>

    <title>Agregar transaccion</title>
</head>

<body>
    <div class="tophead" style="position: fixed;">
        [ Crear empleado ]
        </div>
    <main>
        
        <div class="index" style="position: fixed; overflow-y: scroll;">
            
            <form class="d-flex justify-content-center mb-3" th:action="@{/usuarios/add}" method="post"
                th:object="${tbemployee}">
                <div class="w-30">
                    <div class="mb-3">
                        <label for="Email" class="labelform">email:</label>
                        <input th:field="*{email}" type="email" class="form-control" id="Email">
                    </div>

                    <div class="mb-3">
                        <label for="Idprof" class="labelform">idprof:</label>
                        <input th:field="*{profile}" type="number" class="form-control" id="profile">
                    </div>

                    <div class="mb-3">
                        <label for="Rol" class="labelform">rol:</label>
                        <input th:field="*{rol}" type="text" class="form-control" id="Rol">
                    </div>
                    <div class="mb-3">
                        <label for="Ident" class="labelform">ident:</label>
                        <input th:field="*{enterprise}" type="number" class="form-control" id="enterprise">
                    </div>
                    <button type="submit" class="bttn">Guardar</button>
                    <button type="button" class="bttn"><a th:href="@{/usuarios}">Regresar</a></button>
                </div>


            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>