<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" th:href="@{/template.css}" />
  <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>

  <title>Agregar transaccion</title>
</head>

<body>
  <div class="tophead" style="position: fixed;">
    [ Crear transaccion ]
  </div>
  <main>

    <div class="index" style="position: fixed; overflow-y: scroll;">

      <form class="d-flex justify-content-center mb-3" action="#" th:action="@{/movimientos/add}"
        th:object="${tbtransaction}" method="post">
        <div class="w-30">
          <label class="labelform"><b>informacion de la transaccion</b></label>
          <div class="mb-3">
            <label for="mount" class="labelform">monto:</label>
            <input type="text" class="inputform" id="mount" th:field="*{amount}"
              placeholder="Valor negativo en caso de egreso">
          </div>
          <div class="mb-3">
            <label for="mount" class="labelform">concepto:</label>
            <input type="text" class="inputform" id="concept" placeholder="Descripcion de la transaccion"
              th:field="*{concept}">
          </div>
          <div class="mb-3">
            <label for="employee" class="labelform">usuario:</label>
            <select th:field="*{employee}" class="inputform" name="employee" id="employee">
              <option th:each="employee: ${listaEmpleados}" th:text="${employee.email}" th:value="${employee.id}">
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="Ident" class="labelform">empresa:</label>
            <select th:field="*{enterprise}" class="inputform" name="enterprise" id="enterprise">
              <option th:each="empresa: ${listaEmpresas}" th:text="${empresa.name}" th:value="${empresa.id}"></option>
            </select>
          </div>
          <button type="submit" class="bttn">Guardar</button>
          <button type="button" class="bttn"><a th:href="@{/movimientos}">Regresar</a></button>
        </div>
      </form>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
  </div>

  <div class="home"><a th:href="@{/}"><i class="fa-solid fa-home"></i></a>
  </div>
</body>

</html>