<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/template.css}" />
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>

    <title>.::CodeX::.</title>
    
</head>

<body>
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="py-5 px-3 text-center"> MENU </h1>
        <!--Dibujamos la tabla-->
        <br>
        <table class="table table-bordered">
          
            <tr><td><center><button type="button" class="btn btn-info"><a th:href="@{/movimientos}" class="btn btn-primary mb-3">Consultar ingreso y  egresos</a></button></center></td></tr>
            <tr><td><center><button type="button" class="btn btn-info"><a th:href="@{/user}" class="btn btn-primary mb-3">Usuarios</a></button></center></td></tr>  
            <tr><td><center><button type="button" class="btn btn-info"><a th:href="@{/empresas}" class="btn btn-primary mb-3">Empresas</a></button></center></td></tr> 
        
     
        </table>


    </div>

    <!--este bloque es el boton Listar Empleado-->
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="py-5 px-3 text-center">Listar Empleados</h1>
        <a th:href="@{/employee}" class="btn btn-primary mb-3"> Ver Lista de Empleados</a>
        <a th:href ="@{/add}" class="btn btn-primary mb-3"> Crear un Empleado</a>
    </div>
    <!--fin Listar Empleado-->

    <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>

</html>