<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/template.css}" />
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>

    <title>.::CodeX::.</title>

</head>

<body>
    <main>
        <div class="index">

            <div class="hlogo"><img th:src="@{/logo.jpg}"></div>
            <br> Bienvenido
            <div class="bttn" style="margin-top: 5px; padding: 5px"><a th:href="@{/empresas}"><i
                        class="fa-solid fa-building"></i> &nbsp; &nbsp; Consultar empresas</a></div>
            <div class="bttn" style="margin-top: 5px; padding: 5px"><a th:href="@{/usuarios}"><i
                        class="fa-solid fa-users"></i> &nbsp; &nbsp; Consultar empleados</a></div>
            <div class="bttn" style="margin-top: 5px; padding: 5px;"><a th:href="@{/movimientos}"><i
                        class="fa-solid fa-dollar-sign"></i> &nbsp; &nbsp; Consultar transacciones</a></div>




        </div>

        <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>

</html>