<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Title</title>
</head>

<body>

    <!--Código de bootstrap para crear la tabla-->
    <table class="table">
        <thead>
            <tr>
                <th scope="id">#</th>
                <th scope="email">Email</th>
                <th scope="profile">Perfil</th>
                <th scope="rol">Rol</th>
                <th scope="enterprise">Empresa</th>
                <th scope="created">Creada</th>
                <th scope="updated">Actualizado</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${listEmployee}">
                <th scope="row" th:text="${employee.id}"></th>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.profile.id}"></td>
                <td th:text="${employee.rol}"></td>
                <td th:text="${employee.enterprise.name}"></td>
                <td th:text="${employee.created}"></td>
                <td th:text="${employee.updated}"></td>
            </tr>
        </tbody>
    </table>

    <!-- este es el link de bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>