<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/template.css}" />
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>

    <title>.::CodeX::.</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo"><img th:src="@{/logo.jpg}" /></div>
        <div class="navigation">
            <a href="/">index</a>
            <a href="/empresas">enterprises</a>
            <a href="/usuarios">users</a>
            <a href="/movimientos">transactions</a>
        </div>
    </div>
    <div class="tophead">
        <h1> Consulta de transacciones</h1>
        <div class="thbuttons">
            <button type="button" class="bttn"><a th:href="@{movimientos/add}"><i class="fa-solid fa-plus"></i> crear transaccion</a></button>
            <button type="button" class="bttn"><a th:href="@{/}"><i class="fa-solid fa-home"></i>   home</a></button>
        </div>
    </div>
    </div>
    <div class="content">

        <!--Dibujamos la tabla-->
        <table class="table table-bordered">
        <tr>
            <th>Numero Transacción</th>
            <th>Fecha Creación</th>
            <th>Monto</th>
            <th>Concepto</th>
            <th>Fecha de Actualizacón</th>
            <th>Editar</th>
            <th>Eliminar</th>
    
        </tr>
    
        <!--Llenamos la tabla dibujada-->
        <!--En nuestro controller, creamos en viewtransaccion un modelo con un atributo llamado emplist donde esta guardada la lista de todas las transaccions-->
        <tr th:each="transaccion : ${ViewlistTransaccion}">
            <th scope= "row" th:text="${transaccion.id}"></th>
            <td th:text="${transaccion.created}"></td>
            <td th:text="${transaccion.amount}"></td>
            <td th:text="${transaccion.concept}"></td>
            <td th:text="${transaccion.updated}"></td>
            <td><button type="button" class="bttn"><a th:href="@{/update/{idtran}(idtran=${transaccion.id})}"><i class="fa-solid fa-pen"></i></a></button></td>
            <td><button type="button" class="bttn"><a th:href="@{/update/{idtran}(idtran=${transaccion.id})}"><i class="fa-solid fa-trash"></i></a></button></td>
    
        </tr>
    </table>
        <!--********* Aqui va todo el contenido del div que tiene la parte de las tablas para cada una de las paginas **********
    -->
    </div>


    <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>

</html>