<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/template.css}" />
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>
    <title>.::transacciones::.</title>
</head>
<body>
   <div class="container">
    <h1> Consulta de transacciones</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
    <tr>
        <th>Numero Transacción</th>
        <th>Fecha Creación</th>
        <th>Monto</th>
        <th>Concepto</th>
        <th>Fecha de Actualizacón</th>
        <th>Editar</th>
        <th>Eliminar</th>

    </tr>

    <!--Llenamos la tabla dibujada-->
    <!--En nuestro controller, creamos en viewtransaccion un modelo con un atributo llamado emplist donde esta guardada la lista de todas las transaccions-->
    <tr th:each="transaccion : ${ViewlistTransaccion}">
        <th scope= "row" th:text="${transaccion.id}"></th>
        <td th:text="${transaccion.created}"></td>
        <td th:text="${transaccion.amount}"></td>
        <td th:text="${transaccion.concept}"></td>
        <td th:text="${transaccion.updated}"></td>
        <td><button type="button" class="btn btn-warning"><a th:href="@{/update/{idtran}(idtran=${transaccion.id})}">Editar</a></button></td>
        <td><button type="button" class="btn btn-danger"><a th:href="@{/update/{idtran}(idtran=${transaccion.id})}">Eliminar</a></button></td>

    </tr>
</table>

    <!-- vamos a crear un boton que sirva para agregar nuevas transaccions -->
    <button type="button" class="w-40 btn btn-primary"><a th:href="@{/add}">Agregar Nueva transaccion</a></button>
    <button type="button" class="w-40 btn btn-primary"><a th:href="@{/}">Regresar</a></button>
    <br><br>

</div>


 
<div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
</script>
   
</body>
</html>