<!DOCTYPE html>
<html>

<head>

    <title>Plantilla</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="sidebar">
        <div class="logo"><img src="img/logo2.png"></div>
        <div class="navigation">
            <a href="template.html">index</a>
            <a href="template.html">enterprises</a>
            <a href="template.html">users</a>
            <a href="template.html">transactions</a>
        </div>
    </div>
    <div class="content">
        ********* Aqui va todo el contenido del div que tiene la parte de las tablas para cada una de las paginas **********
       

    </div>


    <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
    </div>
</body>

</html>